
<ion-header>
  <ion-navbar  color="primary" class="navbar">
    <button ion-button menuToggle><ion-icon name="md-list-box"></ion-icon></button>
    <ion-title style="margin-right:15%;">Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

<div class="slide">

  <ion-slides autoplay="5000" loop="true" speed="1000" *ngIf="pictures.length >= 1" >
<!-- Loads sale pictures from list in home.ts -->
    <ion-slide  *ngFor="let link of pictures">
      <ion-avatar class="ad" >
      <img  style="margin: auto" alt=""  src="{{link.picture}}">
      </ion-avatar>
    </ion-slide>

  </ion-slides>

  <div width=100% padding>
    <ion-searchbar	 class="searchbar" ></ion-searchbar>
  </div>

<ion-list>
<!-- Loads buttons from list in home.ts -->
<div *ngFor="let button of buttons">
<button  ion-button clear  (click)="ViewContents(button.category, button.link)">
  <ion-item>
    <ion-icon name="{{button.icon}}" item-start></ion-icon>
      {{button.content}}
    <ion-icon name="ios-arrow-forward" item-end></ion-icon>
  </ion-item>
</button>

</div>

</ion-list>
</div>
<br>
<br>
<ion-footer class="footer" ng-click="myRegisterFunction()" padding>
</ion-footer>
</ion-content>
